@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
body{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"");
}
button{
    margin-top: $dist1;
    @include swapColor($textWhite,$primaryColor) ; 
}
a[href="./about.html"]{
    font-size: $fontM;
    color: $darkBlue;
    font-weight: 700;
    margin-top: $dist1;
}
.cards{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"");
}
.card{
    width: auto;
    height: auto;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    margin-top: $dist1;
    img{
        width: 200px;
        height: 200px;
    }
    p{
        font-size: $fontM;
        color: $textDark;
        margin-top: $dist1;
    }
}